In [23]:
import pandas as pd
import numpy as np
from pprint import pprint
import sys
import math

In [24]:
# Reads the data from CSV files, each attribute column can be obtained via its name, e.g., y = data['y']
def getDataframe(filePath):
    data = pd.read_csv(filePath)
    return data

In [25]:
business_df = getDataframe('business.csv')
users_df = getDataframe('users.csv')
# train_reviews_df = getDataframe('train_reviews.csv')
# test_df = getDataframe('test_queries.csv')

In [26]:
# === NOW DROP STUFF FROM TRAIN_REVIEWS ===

In [27]:
# get features
# train_reviews_columns = train_reviews_df.columns.values
# test_columns = test_df.columns.values

In [28]:
# train_reviews_columns
# test_columns

In [29]:
# indexes to delete from train_reviews
# indexes_to_delete = [0,5,8]

In [30]:
# delete the indexes
# columns_to_delete = np.delete(train_reviews_columns,indexes_to_delete)

In [31]:
# train_reviews_df.drop(columns_to_delete,inplace=True,axis=1)

In [32]:
# left with business_id, stars, user_id
# train_reviews_df.columns

In [33]:
# === NOW DROP STUFF FROM BUSINESS ===

In [34]:
business_df.columns.values
# users_df.columns.values

array(['address', 'attributes', 'attributes_AcceptsInsurance',
       'attributes_AgesAllowed', 'attributes_Alcohol',
       'attributes_Ambience', 'attributes_BYOB', 'attributes_BYOBCorkage',
       'attributes_BestNights', 'attributes_BikeParking',
       'attributes_BusinessAcceptsBitcoin',
       'attributes_BusinessAcceptsCreditCards',
       'attributes_BusinessParking', 'attributes_ByAppointmentOnly',
       'attributes_Caters', 'attributes_CoatCheck', 'attributes_Corkage',
       'attributes_DietaryRestrictions', 'attributes_DogsAllowed',
       'attributes_DriveThru', 'attributes_GoodForDancing',
       'attributes_GoodForKids', 'attributes_GoodForMeal',
       'attributes_HairSpecializesIn', 'attributes_HappyHour',
       'attributes_HasTV', 'attributes_Music', 'attributes_NoiseLevel',
       'attributes_Open24Hours', 'attributes_OutdoorSeating',
       'attributes_RestaurantsAttire',
       'attributes_RestaurantsCounterService',
       'attributes_RestaurantsDelivery',
       'attributes_RestaurantsGoodForGroups',
       'attributes_RestaurantsPriceRange2',
       'attributes_RestaurantsReservations',
       'attributes_RestaurantsTableService',
       'attributes_RestaurantsTakeOut', 'attributes_Smoking',
       'attributes_WheelchairAccessible', 'attributes_WiFi',
       'business_id', 'categories', 'city', 'hours', 'hours_Friday',
       'hours_Monday', 'hours_Saturday', 'hours_Sunday', 'hours_Thursday',
       'hours_Tuesday', 'hours_Wednesday', 'is_open', 'latitude',
       'longitude', 'name', 'neighborhood', 'postal_code', 'review_count',
       'stars', 'state'], dtype=object)

In [35]:
# indexes to delete from train_reviews
elements_to_delete_business = ['address', 'attributes','city', 'hours', 'hours_Friday','hours_Monday', 'hours_Saturday', 'hours_Sunday', 'hours_Thursday','hours_Tuesday', 'hours_Wednesday', 'is_open', 'latitude','longitude', 'name', 'neighborhood', 'postal_code','state']
# elements_to_delete_user = ['compliment_cool', 'compliment_cute', 'compliment_funny', 'compliment_hot', 'compliment_list', 'compliment_more', 'compliment_note', 'compliment_photos', 'compliment_plain', 'compliment_profile', 'compliment_writer', 'cool', 'elite', 'fans', 'friends', 'funny', 'name']

In [36]:
business_df.drop(elements_to_delete_business, inplace=True, axis=1)
# users_df.drop(elements_to_delete_user, inplace=True, axis=1)

In [37]:
business_df.columns.values
# users_df.columns.values

array(['attributes_AcceptsInsurance', 'attributes_AgesAllowed',
       'attributes_Alcohol', 'attributes_Ambience', 'attributes_BYOB',
       'attributes_BYOBCorkage', 'attributes_BestNights',
       'attributes_BikeParking', 'attributes_BusinessAcceptsBitcoin',
       'attributes_BusinessAcceptsCreditCards',
       'attributes_BusinessParking', 'attributes_ByAppointmentOnly',
       'attributes_Caters', 'attributes_CoatCheck', 'attributes_Corkage',
       'attributes_DietaryRestrictions', 'attributes_DogsAllowed',
       'attributes_DriveThru', 'attributes_GoodForDancing',
       'attributes_GoodForKids', 'attributes_GoodForMeal',
       'attributes_HairSpecializesIn', 'attributes_HappyHour',
       'attributes_HasTV', 'attributes_Music', 'attributes_NoiseLevel',
       'attributes_Open24Hours', 'attributes_OutdoorSeating',
       'attributes_RestaurantsAttire',
       'attributes_RestaurantsCounterService',
       'attributes_RestaurantsDelivery',
       'attributes_RestaurantsGoodForGroups',
       'attributes_RestaurantsPriceRange2',
       'attributes_RestaurantsReservations',
       'attributes_RestaurantsTableService',
       'attributes_RestaurantsTakeOut', 'attributes_Smoking',
       'attributes_WheelchairAccessible', 'attributes_WiFi',
       'business_id', 'categories', 'review_count', 'stars'], dtype=object)

In [42]:
business_df.to_csv("business2.csv", encoding='utf-8', index=False)

In [43]:
# === NOW COMBINE ===

In [ ]:
business_df.loc[business_df['business_id'] == 'WPCgtEG-bJt0cZtnM-x7yw']

In [45]:
business_df = getDataframe('business4.csv')
users_df = getDataframe('users2.csv')
train_df = getDataframe('train_reviews2.csv')

In [46]:
# === LEFT DATAFRAME ===

In [47]:
left_col_names = business_df.columns.values

In [48]:
left_df = pd.DataFrame(columns=left_col_names)

In [49]:
# === RIGHT DATAFRAME ===

In [50]:
right_col_names = users_df.columns.values

In [51]:
right_df = pd.DataFrame(columns=right_col_names)

In [ ]:
index=0;
# for row in train_reviews_df.itertuples(index=True, name='Pandas'):
for row in train_df.itertuples(index=True, name='Pandas'):
    left_df = left_df.append(business_df.loc[business_df['business_id'] == getattr(row, "business_id")])
    right_df = right_df.append(users_df.loc[users_df['user_id'] == getattr(row, "user_id")])
    if index%1000 == 0:
        print("Completed",str(index))
    index+=1
print("Done")

In [0]:
right_df_copy = right_df.copy()
left_df_copy = left_df.copy()
print("done")

done

In [0]:
left_df.reset_index(drop=True, inplace=True)
right_df.reset_index(drop=True, inplace=True)

In [0]:
final_df = pd.concat([left_df,right_df],axis=1)

In [0]:
print(final_df.shape)
final_df.head()

(150232, 34)

,attributes_Alcohol,attributes_Ambience,attributes_BikeParking,attributes_BusinessAcceptsCreditCards,attributes_BusinessParking,attributes_Caters,attributes_GoodForKids,attributes_GoodForMeal,attributes_HappyHour,attributes_HasTV,...,stars,average_stars,cool,elite,fans,funny,review_count,useful,user_id,yelping_since
0,1.00000,24.000000,1.000000,1.0,8.000000,0.415824,0.615193,9.515177,1.000000,1.000000,...,4.0,4.50,-0.055987,1279,-0.145820,-0.054095,4,-0.071331,VDh1vjzpNUJH6HfcjH8g7Q,3.262060
1,1.00000,1.000000,1.000000,1.0,2.000000,1.000000,1.000000,4.000000,0.151103,0.000000,...,4.0,3.96,1.939651,1279,10.246245,6.753666,2100,4.308641,HnnjIuLrdhLTsRRVrrFIjA,3.149255
2,0.84135,6.903964,0.729557,1.0,4.983248,0.415824,0.000000,9.515177,0.151103,0.453309,...,2.5,3.96,1.939651,1279,10.246245,6.753666,2100,4.308641,HnnjIuLrdhLTsRRVrrFIjA,3.149255
3,0.84135,6.903964,0.729557,1.0,4.983248,0.415824,0.615193,9.515177,0.151103,0.453309,...,3.5,3.96,1.939651,1279,10.246245,6.753666,2100,4.308641,HnnjIuLrdhLTsRRVrrFIjA,3.149255
4,1.00000,78.000000,0.000000,1.0,17.000000,0.000000,0.000000,4.000000,0.151103,0.000000,...,4.5,3.96,1.939651,1279,10.246245,6.753666,2100,4.308641,HnnjIuLrdhLTsRRVrrFIjA,3.149255

In [0]:
# final_df.loc[:,'review_cool'] = train_df['cool']
# final_df.loc[:,'review_funny'] = train_df['funny']
# final_df.loc[:,'review_useful'] = train_df['useful']
# final_df.loc[:,'review_id'] = train_df['review_id']
# final_df.loc[:,'review_stars'] = train_df['stars']

In [0]:
final_df.head()

,attributes_Alcohol,attributes_Ambience,attributes_BikeParking,attributes_BusinessAcceptsCreditCards,attributes_BusinessParking,attributes_Caters,attributes_GoodForKids,attributes_GoodForMeal,attributes_HappyHour,attributes_HasTV,...,funny,review_count,useful,user_id,yelping_since,review_cool,review_funny,review_useful,review_stars,review_id
0,1.00000,24.000000,1.000000,1.0,8.000000,0.415824,0.615193,9.515177,1.000000,1.000000,...,-0.054095,4,-0.071331,VDh1vjzpNUJH6HfcjH8g7Q,3.262060,-0.464071,-0.310291,-0.557927,4.0,6sferX8QOJq9g5PONKZH4w
1,1.00000,1.000000,1.000000,1.0,2.000000,1.000000,1.000000,4.000000,0.151103,0.000000,...,6.753666,2100,4.308641,HnnjIuLrdhLTsRRVrrFIjA,3.149255,0.208435,-0.310291,0.140143,5.0,OybsTOFlklnoFl8ZwRa_AQ
2,0.84135,6.903964,0.729557,1.0,4.983248,0.415824,0.000000,9.515177,0.151103,0.453309,...,6.753666,2100,4.308641,HnnjIuLrdhLTsRRVrrFIjA,3.149255,-0.464071,-0.310291,0.140143,5.0,fE-Z39pw4Mb5yjr9GihtHQ
3,0.84135,6.903964,0.729557,1.0,4.983248,0.415824,0.615193,9.515177,0.151103,0.453309,...,6.753666,2100,4.308641,HnnjIuLrdhLTsRRVrrFIjA,3.149255,-0.127818,-0.310291,0.140143,4.0,DuC9JQLQ3yY0kPsonFvk-Q
4,1.00000,78.000000,0.000000,1.0,17.000000,0.000000,0.000000,4.000000,0.151103,0.000000,...,6.753666,2100,4.308641,HnnjIuLrdhLTsRRVrrFIjA,3.149255,0.544688,-0.310291,0.838214,5.0,cUFJE_U6s6q9_tjDw3nTmA

In [0]:
final_df.to_csv("train_reviews3.csv", encoding='utf-8', index=False)